.hero {
  text-align: center;
  padding: 50px;
  background-color: #f8f8f8;
}

.hero img {
  max-width: 80%;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}
